conda create -n Chroma312 python=3.12
pip install -U transformers
pip install torch torchvision --index-url https://download.pytorch.org/whl/cu126
pip install git+https://github.com/nickjbrowning/XIELU
pip install accelerate
pip install scikit-learn
